@charset "UTF-8";
/*
0 - 600px   Phone
600 - 900px  Tablet portrait
900 - 1200px  Tablet landscape
[1200 - 1800]  desktop
1800px +      is where our normal styles apply

1em = 16px
*/
@-webkit-keyframes slide {
  0% {
    left: 100%;
    width: 100%;
  }
  5% {
    left: 0%;
  }
  25% {
    left: 0%;
  }
  30% {
    left: -100%;
    width: 100%;
  }
  30.0001% {
    left: -100%;
    width: 0%;
  }
  100% {
    left: 100%;
    width: 0%;
  }
}
@keyframes slide {
  0% {
    left: 100%;
    width: 100%;
  }
  5% {
    left: 0%;
  }
  25% {
    left: 0%;
  }
  30% {
    left: -100%;
    width: 100%;
  }
  30.0001% {
    left: -100%;
    width: 0%;
  }
  100% {
    left: 100%;
    width: 0%;
  }
}

/* animation */
@-webkit-keyframes moveInLeft {
  /* zaczyna się w 0 */
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  /* kończy się na 100% */
  100% {
    opacity: 1;
    /* wraca do pozycji wyjściowej */
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes moveInLeft {
  /* zaczyna się w 0 */
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  /* kończy się na 100% */
  100% {
    opacity: 1;
    /* wraca do pozycji wyjściowej */
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

/* można obracać - rotate */
@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  min-height: 100vh;
  width: 100%;
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 37.5em) {
  html {
    font-size: 44%;
  }
}

@media (max-width: 28.15em) {
  html {
    font-size: 37.5%;
  }
}

@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  min-height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8;
  color: black;
}

div[class^="icon"] {
  vertical-align: middle;
}

h1 {
  width: 100%;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin: 1.5rem 0;
  word-spacing: 0.8rem;
  letter-spacing: 0.4rem;
}

h2 {
  font-size: 2rem;
  text-align: center;
  margin: 0 10rem 5rem 10rem;
}

h3 {
  font-size: 2rem;
  color: white;
  margin-bottom: 2rem;
  text-transform: uppercase;
  word-spacing: 0.5rem;
}

h4 {
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
  color: #b15858;
  text-align: center;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

.btn {
  /* pseudoelement */
}

.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  /* zapobiega nakładaniu się obiektów */
  display: inline-block;
  /* zaokrągla krawędzie przycisku */
  border-radius: 10rem;
  -webkit-transition: all .2s;
  transition: all .2s;
  /* punkt odniesienia dla elementu pod nim */
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}

.btn:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:focus, .btn:active {
  outline: none;
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: white;
  color: #3a3a3a;
}

.btn--white::after {
  background-color: white;
}

.btn--blue {
  background-color: #5FCDCD;
  color: black;
}

.btn--blue::after {
  background-color: #5FCDCD;
}

.btn::after {
  /* bez tego nie działa */
  content: "";
  display: inline-block;
  /* parametry buttona */
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  /* obsolute musi mieć punkt odniesienia - element "na wierzchu"
            zapobiega wizualnemu zlaniu się elementów */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.btn--animated {
  /* 3s opóźnienia animacji */
  -webkit-animation: moveInBottom .5s ease-out 8.5s;
          animation: moveInBottom .5s ease-out 8.5s;
  /* apply 0% before the animation starts */
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.btn--submit {
  margin-top: 1rem;
  border: 1px solid #777;
  padding: 1rem 2rem;
  margin-left: 15rem;
  letter-spacing: 0.1rem;
}

.intro__slides {
  display: block;
  width: 100%;
  height: 80%;
  overflow: hidden;
  position: absolute;
}

.intro__slides > * {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-animation: slide 30.5s infinite;
          animation: slide 30.5s infinite;
  overflow: hidden;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  background-size: cover;
  background-position: center center;
}

.intro__slides--1 {
  left: 0%;
  -webkit-animation-delay: 26s;
          animation-delay: 26s;
  background-image: url(/img/intro/intro-1.jpg);
}

@media (max-width: 37.5em) {
  .intro__slides--1 {
    background-image: url(/img/intro/intro-1_sm.jpg);
  }
}

.intro__slides--2 {
  -webkit-animation-delay: 23s;
          animation-delay: 23s;
  background-image: url(/img/intro/intro-2.jpg);
}

@media (max-width: 37.5em) {
  .intro__slides--2 {
    background-image: url(/img/intro/intro-2_sm.jpg);
  }
}

.intro__slides--3 {
  -webkit-animation-delay: 20s;
          animation-delay: 20s;
  background-image: url(/img/intro/intro-3.jpg);
}

@media (max-width: 37.5em) {
  .intro__slides--3 {
    background-image: url(/img/intro/intro-3_sm.jpg);
    background-position: right;
  }
}

.intro__slides--4 {
  -webkit-animation-delay: 17s;
          animation-delay: 17s;
  background-image: url(/img/intro/intro-4.jpg);
}

@media (max-width: 37.5em) {
  .intro__slides--4 {
    background-image: url(/img/intro/intro-4_sm.jpg);
  }
}

.intro__slides--5 {
  -webkit-animation-delay: 14s;
          animation-delay: 14s;
  background-image: url(/img/intro/intro-5.jpg);
}

@media (max-width: 37.5em) {
  .intro__slides--5 {
    background-image: url(/img/intro/intro-5_sm.jpg);
    background-position: left;
  }
}

.intro__slides--6 {
  -webkit-animation-delay: 11s;
          animation-delay: 11s;
  background-image: url(/img/intro/intro-6.jpg);
}

@media (max-width: 37.5em) {
  .intro__slides--6 {
    background-image: url(/img/intro/intro-6_sm.jpg);
  }
}

.intro__slides--7 {
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
  background-image: url(/img/intro/intro-7.jpg);
}

@media (max-width: 37.5em) {
  .intro__slides--7 {
    background-image: url(/img/intro/intro-7_sm.jpg);
  }
}

.intro__slides--8 {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  background-image: url(/img/intro/intro-8.jpg);
}

@media (max-width: 37.5em) {
  .intro__slides--8 {
    background-image: url(/img/intro/intro-8_sm.jpg);
    background-position: right;
  }
}

.intro__slides--9 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  background-image: url(/img/intro/intro-9.jpg);
}

@media (max-width: 37.5em) {
  .intro__slides--9 {
    background-image: url(/img/intro/intro-9_sm.jpg);
  }
}

.intro__slides--10 {
  -webkit-animation-delay: -1.5s;
          animation-delay: -1.5s;
  background-image: url(/img/intro/intro-10.jpg);
}

@media (max-width: 37.5em) {
  .intro__slides--10 {
    background-image: url(/img/intro/intro-10_sm.jpg);
  }
}

.about {
  position: relative;
  background-color: white;
  z-index: 9999;
}

.about > * {
  padding: 3rem 7rem 5rem 7rem;
}

.info {
  background-color: #f5f5f5;
}

.info__box {
  text-align: justify;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.tickets {
  background-color: white;
  height: 25rem;
  text-align: center;
}

.attractions {
  background-color: #3a3a3a;
  height: 70rem;
}

.attractions h1 {
  color: white;
}

.schedule {
  background-color: white;
  height: 70rem;
}

.acommodation {
  background-color: rgba(150, 135, 165, 0.2);
  height: 70rem;
}

.shop {
  color: white;
  background-color: #3a3a3a;
  height: 70rem;
}

.contact {
  background-color: rgba(150, 135, 165, 0.2);
  height: 55rem;
}

.contact__form {
  margin-top: 5rem;
}

.contact__form > *:not(:last-child) {
  width: 40rem;
  margin: 0.5rem 0;
  padding: 0.9rem;
  color: #777;
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
  border-radius: 1rem;
  border: 1px solid #f5f5f5;
  outline: none;
}

.contact__form > *:not(:last-child):focus {
  background-color: rgba(58, 58, 58, 0.8);
  color: yellow;
}

.contact__container {
  position: relative;
  overflow: hidden;
  height: 40rem;
  width: 80%;
}

.contact__map {
  position: absolute;
  top: 3rem;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

footer {
  position: relative;
  height: 30rem;
  background-color: black;
  color: white;
}

.social {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  line-height: 2rem;
}

.author {
  position: absolute;
  bottom: 1rem;
  text-align: center;
  width: 100%;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.qatta {
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
  text-decoration: none;
  color: yellow;
  margin: 0 0.5rem;
}

.qatta:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.row {
  max-width: 200rem;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

@media (max-width: 56.25em) {
  .row {
    max-width: 100rem;
    padding: 0 3rem;
  }
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^="col-"] {
  float: left;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}

@media (max-width: 56.25em) {
  .row [class^="col-"]:not(:last-child) {
    margin-right: 0;
  }
}

@media (max-width: 56.25em) {
  .row [class^="col-"] {
    width: 100% !important;
  }
}

.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}

.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
}

.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}

.row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem);
}

.row .col-3-of-4 {
  width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}

.header {
  position: relative;
  top: 0rem;
  left: 0rem;
  height: 80rem;
  width: 100%;
  background-image: url(/img/main1_small.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header__navi {
  position: fixed;
  height: 7rem;
  width: 100%;
  background-color: black;
  z-index: 99999;
  overflow: hidden;
  border-bottom: 1px solid black;
}

@media (max-width: 75em) {
  .header__navi {
    height: 5rem;
  }
}

.header__navi-logo {
  height: 100%;
  width: auto;
  overflow: hidden;
}

.header__navi-list {
  color: white;
  position: absolute;
  right: 1.5rem;
  -webkit-transition: all .4s;
  transition: all .4s;
  z-index: 999999999;
  top: 50%;
  /* 3 */
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.header__navi-list li {
  font-size: 1.2rem;
  display: inline;
  margin-right: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  word-spacing: 0.3rem;
}

@media (max-width: 56.25em) {
  .header__navi-list li {
    font-size: 0.5rem;
    letter-spacing: 0rem;
    word-spacing: 0rem;
  }
}

@media (max-width: 75em) {
  .header__navi-list li {
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    word-spacing: 0.1rem;
  }
}

@media (min-width: 112.5em) {
  .header__navi-list li {
    font-size: 1.6rem;
  }
}

.header__navi-list-link, .header__navi-list-link:link, .header__navi-list-link:visited {
  text-decoration: none;
  color: white;
}

.header__navi-list-link:hover, .header__navi-list-link:active {
  color: #5FCDCD;
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

.header__bg {
  position: absolute;
  top: 4.5rem;
  height: 80rem;
  width: 100%;
  background-image: url(/img/main1_small.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sponsors {
  position: relative;
  height: 8rem;
  width: 100%;
  background: white;
  border: 1px solid;
  font-size: 4rem;
}

.sponsors__content {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.sponsors__content li {
  list-style: none;
  margin: 0 auto;
}

.sponsors__img {
  height: 7.5rem;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
}

.home {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  background-size: cover;
  z-index: 3333;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.home:target {
  opacity: 1;
  visibility: visible;
}

.intro {
  height: 100vh;
  width: 100%;
  background: contain;
  position: fixed;
  background-color: black;
  text-align: center;
}

.intro__sentence {
  position: absolute;
  white-space: nowrap;
  width: 100%;
  text-align: center;
  top: 20%;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 1rem;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, from(#000), color-stop(#fff), to(#000));
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  -webkit-animation: animate 8s linear;
          animation: animate 8s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@media (max-width: 75em) {
  .intro__sentence {
    font-size: 2.8rem;
    letter-spacing: 0.5rem;
  }
}

@media (max-width: 56.25em) {
  .intro__sentence {
    font-size: 2rem;
  }
}

@media (max-width: 37.5em) {
  .intro__sentence {
    font-size: 1.7rem;
  }
}

@media (max-width: 28.15em) {
  .intro__sentence {
    font-size: 1.2rem;
  }
}

.intro__contain {
  position: absolute;
  left: 0;
  right: 0;
  top: 85%;
}
/*# sourceMappingURL=main.css.map */