.intro {
    height: 100vh;
    width: 100%;
    background: contain;
      
    // /* Preserve aspet ratio */
    // min-width: 100%;
    // min-height: 100%;
    position: fixed;
    background-color: $color-black;
    text-align: center;

    // @include respond(big-desktop) {
    //      width: 100%;
    //      margin: 0;
    //      padding: 0;
    // }

    // @include respond(tab-land) {
    //     width: 100%;
    //     margin: 0;
    //     padding: 0;
    // }

    // @include respond(tab-port) {
    //     width: 100%;
    //     margin: 0;
    //     padding: 0;
    // }

    // //TODO nie działa
    // @include respond(phone) {
    //     width: 100%;
    //     margin: 0;
    //     padding: 0;
    // }

    &__sentence {
        position: absolute;
        white-space: nowrap;
        width: 100%;
        text-align: center;
        top: 20%;
        font-family: sans-serif;
        text-transform: uppercase;
        font-size: 3rem;
        letter-spacing: 1rem;
        overflow: hidden;
        background: linear-gradient(90deg, #000, #fff, #000);
        background-repeat: no-repeat;
        background-size: 80%;
        animation: animate 8s linear;
        animation-fill-mode: forwards;
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(255, 255, 255, 0);


        @include respond(tab-land) {
            font-size: 2.8rem;
            letter-spacing: 0.5rem;
        }
        @include respond(tab-port) {
            font-size: 2rem;
        }
        @include respond(phone-land) {
            font-size: 1.7rem;
        }
        @include respond(phone-port) {
            font-size: 1.2rem;
        }
    }

    &__contain {
        position: absolute;
        left: 0;
        right: 0;
        top: 85%;
    }
}
